.txc {
    text-align: center;
}
.g-modal-mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#000032,#6d1497);
}

.g-modal-mask:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.g-modal-mask .m-protocol-window {
    display: inline-block;
    vertical-align: middle;
    width: 8.93rem /* 670/75 */;
    height: 13.33rem /* 1000/75 */
}

.g-modal-mask .m-protocol-window .wrap {
    position: relative;
    background-color:#fff;
    width: 8.93rem /* 670/75 */;
    height: 11.47rem /* 860/75 */
}
.m-protocol-header{
    margin-bottom: .8rem /* 60/75 */;
}
.header-group{
    padding-top: .27rem /* 20/75 */;
    width: 7.47rem /* 560/75 */;
	height: .12rem /* 9/75 */;
}
.header-logo{
    width: 2.8rem /* 210/75 */;
    height: .8rem /* 60/75 */;
    padding-top: .53rem /* 40/75 */;
}

.g-modal-mask .m-protocol-window .wrap .m-protocol-scroll {
    width: 7.47rem /* 560/75 */;
    height: 8rem /* 600/75 */;
    margin: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.g-modal-mask .m-protocol-window .wrap .m-protocol-scroll p {
    color: #333333;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: .29rem /* 22/75 */;
    margin: .27rem /* 20/75 */ 0;
}

.g-modal-mask .m-protocol-window .wrap .m-protocol-scroll p:not(.txc) {
    text-indent: 2em
}

.g-modal-mask .m-agree-btn {
    width: 4rem /* 300/75 */;
	height: 1.2rem /* 90/75 */;
	background-color: #e52c34;
    border-radius: .03rem /* 2/75 */;
    color: #ffffff;
    font-size: .4rem /* 30/75 */;
    text-align: center;
    line-height: 1.2rem /* 90/75 */;
    margin: .53rem /* 40/75 */ auto;
}