*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    overflow: hidden;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.wp{
    width: 100%;
    height: 100%;
    overflow: hidden; 
    position: relative;
}
.page1{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-image: url('../images/page1/bg-page1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}
.page1-light{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease-out 1.2s;
    transition: all .3s ease-out 1.2s;
    -webkit-animation: light-anim linear 3s 1.5s infinite both;
            animation: light-anim linear 3s 1.5s infinite both;
}
.center-img{
    display: block;
    margin: 0 auto;
}
.bank-of-cupple{
    width: 2.93rem /* 220/75 */;
    height: 1.15rem /* 86/75 */;
}
.story-bank{
    margin-top: .72rem /* 54/75 */;
    width: 2.8rem /* 210/75 */;
    height: .8rem /* 60/75 */;
}
.story-text{
    margin-top: 1.33rem /* 100/75 */;
    width: 7.43rem /* 557/75 */;
    height: 3.16rem /* 237/75 */;
}
.one-cupple{
    margin-top: 2rem /* 150/75 */;
    width: 2.67rem /* 200/75 */;
    height: .63rem /* 47/75 */
}
.arrow-down{
    position: absolute;
    bottom: .53rem /* 40/75 */;
    left: 50%;
    margin-left: -.63rem /* 47/75 */;
    width: 1.25rem /* 94/75 */;
    height: .32rem /* 24/75 */;
    -webkit-transition: all .3s ease-out 1.2s;
    transition: all .3s ease-out 1.2s;
    -webkit-animation: logo-anim linear 3s 1.5s infinite both;
            animation: logo-anim linear 3s 1.5s infinite both;
}

.page2{
    position: absolute;
    top:100%;
    width: 100%;
    height: 100%;
    background-image: url('../images/page2/bg-page2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}
.page2-content{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.form-text{
    background-image: url('../images/page2/bg-text.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    width: 8.27rem /* 620/75 */;
    height: 12.8rem /* 960/75 */;
}
.form-detail{
    margin-top: 2.13rem /* 160/75 */;
    width: 6.93rem /* 520/75 */;
    padding: .4rem /* 30/75 */ .2rem /* 15/75 */;
}
#number{
    margin-left: .93rem /* 70/75 */;
    font-size: .43rem /* 32/75 */;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1.33rem /* 100/75 */;
}
.form-input{
    width: 6.93rem /* 520/75 */;
    height: 4.13rem /* 310/75 */;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
	background-color: #f2f2f2;
    border-radius: .03rem /* 2/75 */;
    border: 0;
    font-size: .32rem /* 24/75 */;
    color: #333333;
    padding: .27rem /* 20/75 */;
    margin-bottom: .13rem /* 10/75 */;
}
.form-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .32rem /* 24/75 */;
    height: 1.07rem /* 80/75 */;
}
.item-left,.item-right{
    width: 3.33rem /* 250/75 */;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.item-right{

}
.item-tag{
    color: #666666;
}
.item-input{
    width: 2.4rem /* 180/75 */;
    height: .75rem /* 56/75 */;
    background-color: #f2f2f2;
    border-radius: .03rem /* 2/75 */;
    color: #333333;
    border: 0;
    margin-left: .27rem /* 20/75 */;
    padding: 0 .27rem /* 20/75 */;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.item-select{
    width: 2.4rem /* 180/75 */;
    height: .75rem /* 56/75 */;
    background-color: #f2f2f2;
    border-radius: .03rem /* 2/75 */;
    color: #333333;
    border: 0;
    margin-left: .27rem /* 20/75 */;
    padding: 0 .27rem /* 20/75 */;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -moz-appearance:none;
         appearance:none;
    -webkit-appearance:none;
}
.submit{
    margin-top: .8rem /* 60/75 */;
    width: 7.33rem /* 550/75 */;
    height: 1.2rem /* 90/75 */;
    border-radius: .03rem /* 2/75 */;
    background-color: #e52c34;
    font-size: .4rem /* 30/75 */;
    line-height: 1.2rem /* 90/75 */;
    text-align: center;
    color: #ffffff;
}
.submit-disable{
    color: rgba(255, 255, 255, 0.5)
}
.aggree{
    margin-top: .53rem /* 40/75 */;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.aggree-img{
    width: .21rem /* 16/75 */;
    height: .21rem /* 16/75 */;
}
.aggree-text{
    margin-left: .13rem /* 10/75 */;
    font-size: .24rem /* 18/75 */;
    color: #ffffff;
}
.confirm{
    width: 7.47rem /* 560/75 */;
    height: 4.53rem /* 340/75 */;
    margin-top: 2.29rem /* 172/75 */;
    background-image: url('../images/page2/store-story.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: .67rem /* 50/75 */;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;

}
.confirm-header{
    line-height: 1.47rem /* 110/75 */;
    color: #ffffff;
    font-size: .4rem /* 30/75 */;
    text-align: center;
}
.confirm-footer{
    font-size: .4rem /* 30/75 */;
    margin-top: .8rem /* 60/75 */;
    line-height: 1.2rem /* 90/75 */;
    color: #ffffff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.confirm-footer-left{
    width: 3.33rem /* 250/75 */;
	height: 1.2rem /* 90/75 */;
	background-color: rgba(255, 255, 255, 0.1);
    border-radius: .03rem /* 2/75 */;
}
.confirm-footer-right{
    width: 3.33rem /* 250/75 */;
	height: 1.2rem /* 90/75 */;
	background-color: #e52c34;
	border-radius: .03rem /* 2/75 */;
}

.modal-aggree{
    width: 8.93rem /* 670/75 */;
    height: 13.33rem /* 1000/75 */;
}

.page4{
    height: 100%;
    background-image: url('../images/page4/bg-page4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.success{
    padding-top: 2.8rem /* 210/75 */;
    width: 2.33rem /* 175/75 */;
	height: 1.12rem /* 84/75 */;
}

.success-text{
    margin-top: .57rem /* 43/75 */;
    font-size: .48rem /* 36/75 */;
    text-align: center;
    color: #f2f2f2;
    font-weight: bold;
}
.success-number{
    margin-top: .93rem /* 70/75 */;
    font-size: .35rem /* 26/75 */;
    color: #ffffff;
    text-align: center;
}
.success-number a{
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}
.success-value{
    font-size: .64rem /* 48/75 */;
    line-height: 1.5rem;
}
.logo{
    margin-top: 18% /* 240/75 */;
    width: 2.8rem /* 210/75 */;
	height: .8rem /* 60/75 */;
}

.logo2{
    position: absolute;
    bottom: .8rem /* 60/75 */;
    left: 50%;
    margin-left: -1.33rem /* 100/75 */;
    width: 2.67rem /* 200/75 */;
    height: .63rem /* 47/75 */;
}

#result{
    display: none;
    width: 100%;
    height: 100%;
    top: 100%;
    position: absolute;
    -webkit-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}

@-webkit-keyframes logo-anim {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%)
    }

    to {
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
}

@keyframes logo-anim {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%)
    }

    to {
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
}

@-webkit-keyframes light-anim {
    0% {
       opacity: 1;
    }

    50% {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

@keyframes light-anim {
    0% {
       opacity: 1;
    }

    50% {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}